<!DOCTYPE html> 
<html lang="ja"> 

<head> 
    <meta charset="UTF-8"> 
    <title>祝日の一覧</title>
    <style type="text/css">
        table,
        td {
            border: 1px solid #333;
        }
        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }
    </style> 
</head> 

<body> 
    <p>今日は {{.Time.Format "2006/1/2"}} です。</p> 
    <h1>日本の祝日一覧</h1> 
    <table>
        <thead>
            <tr>
                <th>日付</th>
                <th>祝日名</th>
            </tr>
        </thead>
        <tbody>
            {{range .Holidays}}
            </tr>
                <td>{{.YMD}}</td>
                <td>{{.Name}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body> 

{{template "menu"}}

</html>